:root {
  height: 100%;
  background-color: black;
}

header {
  border-top: 10vh solid black;
  border-bottom: 0px;
  margin: 0px;
  border-top: 2vh solid black;
  border-bottom: 0px;
}

/* navigation bar styling starts */

.button {
  align-items: end !important;
}

.w-100 {
  padding-bottom: 0.8rem;
}

.navbar {
  /* size of hamburger icon */
  --bs-navbar-toggler-font-size: 2rem;
}

.nav-link {
  --bs-nav-link-color: #ff914d;
  --bs-navbar-nav-link-padding-x: 3rem;
  font-family: "Barlow Semi Condensed";
  --bs-nav-link-font-size: 1.3rem;
}

.navbar-dark {
  --bs-navbar-toggler-border-color: transparent !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='darkorange' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  align-items: end;
}

.navbar ul {
  background-color: black;
  text-align: center;
  padding-inline-start: 1.5vw;
  padding-bottom: 3vh;
}

.navbar li {
  position: relative;
  display: inline;
  overflow: auto;
}

.navbar li a {
  font-family: "Barlow Semi Condensed";
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  color: #ff914d;
  padding: 1vw 5vw;
}

/* navigation bar styling ends */

body {
  background-color: black !important;
  padding: none !important;
}

.poster {
  margin: auto;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.poster .poster-img {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-size: cover;
  background-image: url("Images/SWIFFposter-small-lights.gif");
}

.section {
  grid-column-start: 1;
  grid-column-end: 1;
  text-align: center;
  height: auto;
  padding: 40px 40px;
  background-color: #ff914d;
}

.section h1 {
  font-family: "Barlow Semi Condensed";
  font-size: 2.3rem;
  color: #000000;
}

.section p {
  font-family: "Barlow Semi Condensed";
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.pimg1 {
  background-image: url("Images/Background_Image.jpeg");
  height: 30rem;
  object-fit: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.pimg2 {
  background-image: url("Images/foodfestival.jpeg");
  height: 50rem;
  object-fit: cover;
  background-repeat: no-repeat;
}

/* image slider style starts here */

#slider {
  height: 25rem;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 95% !important; /* slider takes 95% of total width */
  margin: none !important;
  --bs-gutter-x: 0rem !important;
}

.subcontainer {
  width: 100%;
  margin: none !important;
}

.slide-img {
  width: 100%;
  height: 20rem;
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.img-1 {
  background-image: url(https://i.guim.co.uk/img/media/f71ed35864ca692aa57070802154faa6dbec92f3/0_394_6016_3611/master/6016.jpg?width=465&quality=85&dpr=1&s=none);
}

.img-2 {
  background-image: url(https://www.dalkeithcountrypark.co.uk/wp-content/uploads/2022/02/Crowd-on-lawn.jpg);
}

.img-3 {
  background-image: url(https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_350,q_60,w_470/https://assets.simpleviewinc.com/simpleview/image/upload/crm/toronto/Leo-Jul31-16-DM_FD78C63C-533A-4B40-A0846F28ACFBAFF6_2420615a-8884-4321-93172b62adc3f1e4.jpg);
}

.img-4 {
  background-image: url(https://www.thelocalfoodfestival.com/media/1048/thelocalfoodfestival.jpg?anchor=center&mode=crop&width=1200);
}

.img-5 {
  background-image: url(https://i2-prod.liverpoolecho.co.uk/incoming/article21282691.ece/ALTERNATES/s615/0_Film-and-Food-Festival.jpg);
}

/* image slider style ends*/

/* footer styling starts */

footer {
  background-color: black;
  margin: 0;
  padding-bottom: 144px;
}

/* social media buttons */

footer .SM-buttons {
  text-align: center;
  display: flex;
  justify-content: center;
}

footer .SM-buttons img {
  height: 9vw;
  margin-top: 2vh;
  border-radius: 20vh;
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

footer .SM-buttons a {
  text-decoration: none;
}

/* footer styling ends */

@media only screen and (min-width: 560px) {
  .poster {
    margin: auto;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
  }

  .poster .poster-img {
    width: 100%;
    height: 20rem;
    background-position: center;
    background-size: cover;
    background-image: url("Images/SWIFFposter-medium-lights.gif");
  }
}

/* media query - to change the styling when the screen size is greater than 768px */

@media only screen and (min-width: 768px) {
  footer .SM-buttons img {
    height: 65px;
    margin-top: 2vh;
    border-radius: 20vh;
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
  }

  .navbar li a {
    font-family: "Barlow Semi Condensed";
    font-size: 2vw;
    list-style-type: none;
    text-decoration: none;
    color: #ff914d;
    padding: 1vw 5vw;
  }

  .section h1 {
    font-family: "Barlow Semi Condensed";
    font-size: 3rem;
    color: #000000;
  }

  .section p {
    font-family: "Barlow Semi Condensed";
    font-size: 2rem;
    color: rgb(0, 0, 0);
  }

  .poster {
    margin: auto;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
  }

  .poster .poster-img {
    width: 100%;
    height: 30rem;
    background-position: center;
    background-size: cover;
    background-image: url("Images/SWIFFposter-large-lights.gif");
  }
}
